header {
  /* border-bottom: 1px solid black; */
  background: white;
  text-align: center;
}

header a,
header button {
  /* font-size: 20px; */
  display: inline-block;
  width: 15%;
  /* border-radius: 10px; */
  text-decoration: none;
  cursor: pointer;
  color: black;
  white-space: nowrap;
}

.siteTitle {
  /* font-size: 40px; */
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  color: tan;
}

.searchImg {
  width: 1.5%;
  margin-bottom: 0;
  padding-top: 0;
}
