.productLines {
  display: flex;
  text-align: center;
  justify-content: center;
  /* background-color: tan; */
}

.productLineImg {
  display: grid;
  width: 90%;
  margin: 5%;
  padding-bottom: 0%;
  margin-bottom: 0%;
  height: 90%;
  border: 5% solid tan;
  border-radius: 10%;
}

.productLineText {
  bottom: 50%;
  position: relative;
  color: black;
  margin: 0;
}

.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderImg {
  display: flex;
  justify-content: center;
  padding: 5%;
  /* width: 50%; */
  /* height: 500%; */
  margin-left: 0;
  margin-right: 5%;
  border-radius: 5%;
}

.rightSliderArrow {
  position: absolute;
  top: 50%;
  color: black;
  right: 12%;
  font-size: 3rem;
  cursor: pointer;
}

.leftSliderArrow {
  position: absolute;
  top: 50%;
  color: black;
  left: 18%;
  font-size: 3rem;
  cursor: pointer;
}

.kSteelBackground {
  background-image: url("/public/images/fullSizeCamo.png");
  height: 98vh;
  width: 99vw;
  overflow: hidden;
  text-align: center;
}
.kSterlingBackground {
  background-image: url("/public/images/fullSizeCamo.png");
  height: 98vh;
  width: 99vw;
  overflow: hidden;
  text-align: center;
}
.kTitaniumBackground {
  background-image: url("/public/images/fullSizeCamo.png");
  height: 98vh;
  width: 99vw;
  overflow: hidden;
  text-align: center;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.activeSlide {
  opacity: 1;
  transition-duration: 0.5s;
  transform: scale(1);
}

#btn {
  font-size: 45rem;
}
