.productLines {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: tan;
  color: white;
}

.productLineImg {
  display: grid;
  width: 500px;
  margin: 10px;
  /* padding-top: 20px; */
  padding-bottom: 0;
  height: 400px;
  /* border: 1px solid brown; */
  /* border-radius: 15px; */
}

.productLineText {
  bottom: 50%;
  position: relative;
  color: black;
  margin: 0;
}
