.App {
  font-family: "Ubuntu", sans-serif;
  background-image: url("/public/images/BrownCamo.png");
  background-color: #ffe4c4b0;
}
.center {
  text-align: center;
  justify-content: center;
}

.pointer {
  cursor: pointer;
}
